<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Manage Enrollment</title>
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
    <h1 align="center">Manage Enrollment</h1>
    
    <div class="topnav">
  		<a href="/">Home</a>
  		<a href="/Viewlectuers">View all Lecturers</a>
 	 	<a href="/Addlecture">Add New Lecturer </a>
 		<a href="/ViewStudents">View all Students</a>
 	 	<a href="/adduser">Add New Student </a>
 	 	<a class="active" href="/manage-viewCourse">View all Courses</a>
 	 	<a href="/manage-addCourse">Add New Course</a>
 	 	<a href="/editEnrollment">Assign Student to a course</a>
 	 	<a href="/adminEnrollment">Edit Student Enrollment</a>
 	 	<a href="/ListCourses">Assign Lecturer to a Course</a>
 	 	<a href="/ViewLecturerCourse">View Assigned Courses</a>
	</div>
	<br />
	<br />
    
	<form:form>
		<table id="t01" border="2" width="70%" cellpadding="2">
			<tr>
				<th>EnrollmentID</th>
				<th>Status</th>
				<th>Course ID</th>
				<th>Course Name</th>
				<th>Student ID</th>
				<th>Student Name</th>
				<th>Option</th>
			</tr>
			<tr th:each="studentcourse : ${list}">
				<td th:text="${studentcourse.EnrollmentID}"></td>
				<td th:text="${studentcourse.Status}"></td>		
				<td th:text="${studentcourse.course}"></td>
				<td th:text = "${studentcourse.getCourseName()}"></td>
				<td th:text="${studentcourse.user}"></td>	
                <td th:text = "${studentcourse.getUserName()}"></td>
				<td><a th:href="@{'/disactivate/'+${studentcourse.EnrollmentID}}">DisActivate</a></td>  				  
			</tr>
		</table>
		
		
		
		<br/>
	</form:form>
</body>
</html> 