<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Current Courses Enrolled</title>
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
	<h1 align="center">Current Courses Enrolled</h1>

	<div class="topnav">
  		<a href="/">Home</a>
 	 	<a href="/student-grades">View Grades</a>
 		<a href="/view-courses">All Courses</a>
 	 	<a class="active"  href="/current-courses-enrolled">View Enrolled Courses</a>
 	 	<a href="/">Logout</a>
	</div>
	<br />
	<br />
	
	<form:form>
		<table id="t01" border="2" width="70%" cellpadding="2">
			<tr>
				<th>Enrollment ID</th>
				<th>Course ID</th>
				<th>Drop</th>

			</tr>


			<tr th:each="studentcourse: ${sclist}">
				<td th:text="${studentcourse.enrollmentID}"></td>
				<td th:text="${studentcourse.course}"></td>
				
				<td><a
					th:href="@{'/drop-course/' + ${studentcourse.enrollmentID}}">Drop
						Course</a></td>
				
			</tr>

		</table>
		<br />


	</form:form>
</body>


</html>
