<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Grades and GPA</title>
	<link rel="stylesheet" th:href="@{/css/custom.css}"/>
	<link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>


<body>

<h1 align="center">View Grades and GPA</h1>

<table id="t02">
<tr>
<th>
<h2>View your horrible grades. Might want to have a way to show the student's name and userid. must also get the GPA from the query.</h2>
</th>
</tr>
</table>
 
   
<form:form>

<table id="ViewGradesTable" border="2" width="70%">

<tr>
<th>CourseID</th><th>Title</th><th>StartDate</th><th>EndDate</th><th>ModularCredit</th><th>Capacity</th><th>Status</th><th>Edit</th><th>Delete</th>
</tr>  
   
<tr th:each="course : ${courselist}"> 
   <td th:text="${course.courseID}"></td>  
   <td th:text="${course.Title}"></td> 
   <td th:text="${course.StartDate}"></td>
   <td th:text="${course.EndDate}"></td>
   <td th:text="${ModularCredit}"></td> 
   <td th:text="${Capacity}"></td>  
   <td th:text="${Status}"></td>
   <td><a th:href="@{'/enroll'}">Enroll</a></td>  
   <td><a th:href="@{'/drop'}">Delete</a></td>  
</tr>


</table>  

</form:form></body></html>