<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Lecturer Course</title>
	<link rel="stylesheet" th:href="@{/css/custom.css}" />
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<h1 align="center">Welcome Student</h1>
<body>

	<div class="topnav">
		<a class="active" href="#home">Home</a> 
		<a href="/student-grades">View Grades</a> 
		<a href="/view-courses">All Course</a> 
		<a href="/current-courses-enrolled">View Enrolled Courses</a> 
		<a href="/">Logout</a>

	</div>
	<br />
	<br />

	<th:block th:include="/_footer"></th:block>

</body>
</html>
