<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Courses available</title>
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
	<h1 align="center">Courses Available</h1>
	<div class="topnav">
  		<a href="/">Home</a>
 	 	<a href="/student-grades">View Grades</a>
 		<a class="active" href="/view-courses">All Courses</a>
 	 	<a href="/current-courses-enrolled">View Enrolled Courses</a>
 	 	<a href="/">Logout</a>
	</div>
	<br />
	<br />
	

	<form:form>
		<table id="t01" border="2" width="70%" cellpadding="2">
			<tr>
				<th>Course ID</th>
				<th>Title</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Capacity</th>
				<th>Enroll</th>

				
			</tr>


			<tr th:each="course: ${list}">
				<td th:text="${course.courseID}"></td>
				<td th:text="${course.Title}"></td>
				<td th:text="${course.StartDate}"></td>
				<td th:text="${course.EndDate}"></td>
				<td th:text="${course.capacity}"></td>

				<td><a th:href="@{'/course-enrolled/'+${course.courseID}}">Enroll</a></td>

			</tr>

		</table>
		<br />


	</form:form>
</body>


</html>
